<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <h2 class ="text-left">
  　　出身地：<%= @user.region %>
  　　<br>
  　　生年月日：<%= @user.birth %>
  　　<br>
  　　コメント：<%= @user.comment %>
　　</h2>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
  <%= f.submit "Show Follower", class: "btn btn-primary" %>
</div>